body {
  background-color: #eee;
}

.btn-fixed-size {
  min-width: 150px !important;
}

.progress {
  background-color: transparent;
  border: 2px solid #007bff;
  border-radius: 5px;
  overflow: visible;
}

.collapse.show + .progress,
.progress.active {
  background-color: #e9ecef;
}

.progress-bar {
  background-color: #007bff;
  border-radius: 5px;
  transition: width 0.3s ease;
  color: #fff;
  font-weight: bold;
}

.progress:hover .progress-bar,
.collapse.show + .progress .progress-bar,
.progress.active .progress-bar {
  background-color: #0056b3;
}

.fs-7 {
  font-size: 13px;
}

.fs-8 {
  font-size: 11px;
}

.nav-tabs .nav-link.active {
  font-weight: bold;
  color: black;
}

.table-wrapper {
  max-height: 235px;
  overflow: auto;
}

.btn-check:disabled + label.btn-outline-primary,
label.disabled {
  background-color: white !important;
  color: #6c757d !important;
  border-color: #ced4da !important;
  cursor: not-allowed;
  opacity: 0.6;
}

.text-justify {
  text-align: justify;
}

.fade-in.show {
  opacity: 1;
  transition: opacity 0.3s ease;
}
